{% extends 'base.html' %}
{% load static %}

{% block title %}Задача {{ issue.pk }}{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'issue_create' %}">Создать задачу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'issue_edit' issue.pk %}">Редактировать задачу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'issue_delete' issue.pk %}">Удалить задачу</a>
    </li>
{% endblock %}
{% block content %}

    <div class="container">
        <h2>{{ issue.summary }}</h2>
        <p>Дата создания: {{ issue.created_at|date:"Y-m-d" }}</p>
        <p>
            <u>Статус:</u> {{ issue.status }}.
            <u>Тип:</u> {% for type in issue.type.all %}
                            {{ type.title }}{% if not forloop.last %}, {% else %}. {% endif %}
                        {% endfor %}
        </p>
    </div>
    <div class="container">
        <p>Описание задачи:</p>
        <p>{{ issue.description }}</p>
    </div>

{% endblock %}