{% extends 'base.html' %}
{% load static %}

{% block title %}Задача {{ issuemodel.pk }}{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'webapp:issue_create' %}">Создать задачу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'webapp:issue_edit' issuemodel.pk %}">Редактировать задачу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'webapp:issue_delete' issuemodel.pk %}">Удалить задачу</a>
    </li>
{% endblock %}
{% block content %}

    <div class="container">
        <h2>{{ issuemodel.summary }}</h2>
        <p>Дата создания: {{ issuemodel.created_at|date:"Y-m-d" }}</p>
        <p>
            <u>Статус:</u> {{ issuemodel.status }}.
            <u>Тип:</u> {% for type in issuemodel.type.all %}
                            {{ type.title }}{% if not forloop.last %}, {% else %}. {% endif %}
                        {% endfor %}
        </p>
    </div>
    <div class="container">
        <p>Описание задачи:</p>
        <p>{{ issuemodel.description }}</p>
    </div>

{% endblock %}