{#<form class="text-center" action="" method="GET">#}
{#    <label for="{{ form.search.id_for_label }}">{{ form.search.label }}:</label>#}
{#    {{ form.search }}#}
{#    <!-- <input type="submit" value="Поиск"> -->#}
{#    <button type="submit" class="btn btn-outline-primary btn-sm">#}
{#        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">#}
{#            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>#}
{#        </svg>#}
{#        Найти#}
{#    </button>#}
{#    {% for error in form.search.errors %}#}
{#        <p class="form-error">{{ error }}</p>#}
{#    {% endfor %}#}
{#</form>#}

<form class="row g-3" action="" method="GET">
  <div class="col-auto">
    <label for="{{ form.search.id_for_label }}" class="form-label">{{ form.search.label }}:</label>
    {{ form.search }}

  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-success btn-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        Поиск
    </button>
  </div>
</form>